:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

mat-card-content {
  align-items: center;
  display: flex;
  word-break: break-word;
}

mat-card-footer {
  display: flex;
  gap: 10px;
  padding: 10px;
  margin-left: auto;
}

mat-form-field {
  width: 100%;
}
