<header class="mat-typography">
  <button matButton>
    <mat-icon>person</mat-icon>
    {{ postData().accountName }}
  </button>
  {{ postData().createdAt.toDateString() }}
</header>

<div class="sideBar flex">
  <button matButton (click)="like()">
    <mat-icon>handshake</mat-icon>
    {{ postData().likesCount }}
  </button>
  <button matButton onclick="location.hash = '#comments'">
    <mat-icon>mode_comment</mat-icon>
    {{ postData().commentsCount }}
  </button>
</div>

<div class="mat-typography">
  <h1>{{ postData().title }}</h1>
  <markdown
    class="markdown"
    clipboard
    [data]="sanitizedPostContent()"
    [disableSanitizer]="true"
  ></markdown>
</div>
