.sideBar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  border-radius: 12px;
}
header {
  display: flex;
  align-items: center;
}

::ng-deep post-view {
  display: block;
  margin-left: 20px;
}
