:host {
  display: flex;
  align-items: center;
  padding: 12px;
}

mat-card-header {
  display: flex;
  gap: 10px;
}

.avatar mat-icon {
  width: 40px;
  height: auto;
  font-size: 40px;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.follow {
  margin-left: 70px;
}

mat-card-subtitle {
  display: flex;
  color: var(--mat-sys-outline);
}

.time::before {
  content: '•';
  margin: 0 4px;
}

section.options {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 40px;
}
