<mat-card-header>
  <a mat-card-avatar class="avatar" [routerLink]="['/users', owner().accountId]">
    <mat-icon>person</mat-icon>
  </a>
  <mat-card-title>{{ owner().firstName }} {{ owner().lastName }}</mat-card-title>
  <mat-card-subtitle>
    <div class="handler">@{{ owner().login }}</div>

    @let crAt = createdAt();
    @if (crAt) {
      <div class="time">{{ crAt.toDateString() }}</div>
    }
  </mat-card-subtitle>
  @if (me.accountId !== owner().accountId) {
    <div class="follow">
      @if (owner().followed) {
        <button matButton="outlined" (click)="toggleFollow()">Unfollow</button>
      } @else {
        <button matButton="tonal" (click)="toggleFollow()">Follow</button>
      }
    </div>
  }
</mat-card-header>
<section class="options">
  @let v = visibility();
  @if (v !== undefined) {
    <span class="visibility" [matTooltip]="Visibility[v]">
      @switch (v) {
        @case (Visibility.PUBLIC) {
          <mat-icon>public</mat-icon>
        }
        @case (Visibility.PRIVATE) {
          <mat-icon>lock</mat-icon>
        }
        @case (Visibility.HIDDEN) {
          <mat-icon>visibility_off</mat-icon>
        }
        @case (Visibility.DELETED) {
          <mat-icon>delete</mat-icon>
        }
        @case (Visibility.DRAFT) {
          <mat-icon fontSet="material-symbols-outlined">draft</mat-icon>
        }
      }
    </span>
  }

  <button
    matIconButton
    [matMenuTriggerRestoreFocus]="false"
    [matMenuTriggerFor]="menu"
    class="menu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
</section>

<mat-menu #menu>
  @if (me.accountId == owner().accountId) {
    <button mat-menu-item (click)="edit.emit()" [disabled]="deleted()">
      <span>Edit</span>
      <mat-icon>edit</mat-icon>
    </button>
  } @else if (me.permissions.includes('v1:content:audit')) {
    <audit-action-menu [material]="material()" [actions]="actions()" />
  } @else {
    <button mat-menu-item (click)="report.emit()">
      <span>Report</span>
      <mat-icon>flag</mat-icon>
    </button>
  }
</mat-menu>
