:host {
  display: flex;
  align-items: center;
  padding: 12px;
}

mat-card-header {
  gap: 10px;
  width: 100%;
}

.avatar mat-icon {
  width: 40px;
  height: auto;
  font-size: 40px;
}

.follow {
  margin-left: auto;
}

mat-card-subtitle {
  display: flex;
  color: var(--mat-sys-outline);
}

.time::before {
  content: '•';
  margin: 0 4px;
}
