mat-radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
  overflow: hidden;

  mat-radio-button {
    white-space: nowrap;
    min-width: 40%;
    flex: 1;
  }
}

mat-form-field {
  display: flex;
  width: 100%;
}
