textarea {
  resize: none;
  width: 100%;
  outline: none;
  border: none;
  padding: 10px;
  background: none;
}

#comments {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.writeComment {
  display: flex;
}
.comment-card button {
  margin-left: auto;
}
