:host ::ng-deep .readMore {
  display: none;
}

textarea {
  resize: none;
  width: 100%;
  outline: none;
  border: none;
  padding: 10px;
  background: none;
}

.writeComment {
  align-items: flex-start;
  display: flex;
}

.comment-input {
  margin: 10px;
}

post-view {
  --user-header-max-width: fit-content;
}
