:host ::ng-deep .readMore {
  display: none;
}

textarea {
  resize: none;
  width: 100%;
  outline: none;
  border: none;
  padding: 10px;
  background: none;
}

.writeComment {
  align-items: flex-start;
  display: flex;
}

.comment-input {
  margin: 10px;
}

:host ::ng-deep user-header {
  margin: auto;
  max-width: 600px;
}

:host ::ng-deep user-header mat-card-header {
  /* position: sticky;
  top: 10px;
  background: #000;
  border-radius: 12px;
  z-index: 2; */
}
