select-option {
  white-space: nowrap;
  margin-right: 10px;

  /* &[active='true'] {
  } */
}

li {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(500px, 100%), 1fr));
  gap: 10px;
}
