select-list {
  position: sticky;
  top: 0;
  z-index: 2;
  background: var(--mat-sys-surface);
  display: block;
}
select-option {
  white-space: nowrap;
  margin-right: 10px;
}

li {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(500px, 100%), 1fr));
  gap: 10px;
}
