.progress {
  position: sticky;
  top: 0;
}
.header {
  width: fit-content;
  margin-left: auto;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
  .mat-toolbar {
    background: none;
  }
}

:host {
  display: block;
  padding-bottom: 30vh;
}
