mat-card-content {
  align-items: center;
  display: flex;
  white-space: break-spaces;
}

mat-card-footer {
  display: flex;
  gap: 10px;
  padding: 10px;
  margin-left: auto;
}
mat-form-field {
  width: 100%;
}
