<button
  loadingSpinner
  #spinner="loadingSpinner"
  [disabled]="disabled() || spinner.loading()"
  [matMenuTriggerFor]="actionMenu"
  matButton
  (click)="$event.stopPropagation()"
>
  <mat-icon>gavel</mat-icon>
  <span>Take Action</span>
</button>

<mat-menu #actionMenu>
  @for (action of actions(); track $index) {
    @let icon = auditService.ActionIcons[action];
    <confirmation-dialog
      [confirm]="spinner.withLoading.bind(spinner, takeAction.bind(this, action))"
    >
      <button mat-menu-item>
        <mat-icon>{{ icon }}</mat-icon>
        <span>{{ snake2StartCase(action) }}</span>
      </button>
    </confirmation-dialog>
  }
</mat-menu>
