<button
  loadingSpinner
  #spinner="loadingSpinner"
  [disabled]="disabled() || spinner.loading()"
  [matMenuTriggerFor]="actionMenu"
  matButton
  (click)="$event.stopPropagation()"
>
  <mat-icon>gavel</mat-icon>
  <span>Take Action</span>
</button>

<mat-menu #actionMenu>
  @for (action of actions(); track $index) {
    @let icon = auditService.ActionIcons[action];
    <button
      #actionButton
      mat-menu-item
      (click)="spinner.withLoading(takeAction.bind(this, action))"
    >
      <mat-icon>{{ icon }}</mat-icon>
      <span>{{ snake2StartCase(action) }}</span>
    </button>
  }
</mat-menu>
