.card {
  width: 100%;
}
.content {
  max-height: 40vh;
  overflow: hidden;
  min-width: 30vw;
}
.footer {
  margin-top: auto;
}
.icon > * {
  width: 40px;
  height: auto;
  font-size: 40px;
}
.updatedAt {
  display: flex;
  gap: 2px;
}
.header {
  margin-bottom: 20px;
}

mat-card-actions {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  padding: 10px;

  .likes {
    display: flex;
    gap: 10px;
  }
}
