mat-card:not(:hover) {
  /* background: none; */
  /* box-shadow: none; */
}

:host ::ng-deep post-content {
  display: block;
  max-height: 40vh;
  overflow: hidden;
  min-width: 30vw;
}
:host ::ng-deep markdown img {
  display: none;
}

post-view {
  display: flex;
  flex-direction: column;
  height: 100%;
}

:host ::ng-deep post-footer {
  margin-top: auto;
}
