<div class="new-post mat-typography">
  @if (states.isLoading()) {
    <mat-progress-bar mode="indeterminate" class="progress"></mat-progress-bar>
  }
  <div class="header">
    <button
      matButton="tonal"
      (click)="states.isOnPreview = !states.isOnPreview"
      matTooltip="{{ states.isOnPreview ? 'edit' : 'preview' }}"
    >
      <mat-icon>
        {{ states.isOnPreview ? 'edit' : 'visibility' }}
      </mat-icon>
    </button>
    <mat-toolbar class="save">
      <button matButton="filled" (click)="save()" [disabled]="states.isDraftSaved()">
        <mat-icon>save</mat-icon>
        {{ params.isNew ? 'save' : 'update' }}
      </button>
    </mat-toolbar>
    <button matIconButton [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="postData().isPublic = !postData().isPublic; save()">
        @if (postData().isPublic) {
          <ng-container>
            <mat-icon>lock</mat-icon>
            <span>Hide</span>
          </ng-container>
        } @else {
          <ng-container>
            <mat-icon>send</mat-icon>
            <span>Publish</span>
          </ng-container>
        }
      </button>
      <button mat-menu-item (click)="delete()">
        <mat-icon color="red">delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
  </div>

  @if (states.isOnPreview) {
    <h1>{{ postData().title }}</h1>
    <markdown
      class="markdown"
      clipboard
      [data]="sanitizedPostContent()"
      [disableSanitizer]="true"
    ></markdown>
  } @else {
    <mat-form-field class="title full-width" appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput type="text" [value]="postData().title" (input)="titleInput($event.target)" />
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <textarea
        matInput
        cdkTextareaAutosize
        (input)="textInput($event.target)"
        [value]="postData().content"
        placeholder="Start typing your story..."
        name="blog content"
      ></textarea>
    </mat-form-field>
  }
</div>
