<mat-card class="card mat-typography">
  <mat-card-header>
    <mat-card-title>{{ data().title }}</mat-card-title>
    <mat-card-subtitle>{{ type() }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="content">
    <markdown
      class="markdown"
      [data]="(data().text || data().content).split('\n').slice(0, 5).join('\n')"
    ></markdown>
  </mat-card-content>
  <div class="footer">
    <mat-card-actions>
      <button matButton (click)="edit()">Edit</button>
    </mat-card-actions>
  </div>
</mat-card>
