@let report = this.report();
<mat-card-header>
  <div class="reason">
    {{ report.fmtReason }}
  </div>
  <mat-card-title>
    <mat-icon fontSet="material-symbols-outlined" [title]="iconTitle()">
      {{ iconName() }}
    </mat-icon>
    {{ title() }}
  </mat-card-title>
  @let tooltip = `reported by ${report.reportedBy.login}`;
  <mat-card-subtitle [matTooltip]="tooltip">
    <mat-icon>flag</mat-icon>
    {{ report.reportedBy.login }}
  </mat-card-subtitle>
</mat-card-header>

<mat-card-content>
  <p>
    {{ report.description }}
  </p>
</mat-card-content>
<mat-card-footer>
  <mat-card-actions>
    <button matButton (click)="review()" [disabled]="materialPath() === undefined">
      Review
      <mat-icon>visibility_on</mat-icon>
    </button>
    <audit-action-menu
      [actions]="actions(report.material.type)"
      #menu
      [material]="report"
      [disabled]="report.resolvedBy"
    />

    <button
      loadingButton
      [onClick]="ignore.bind(this)"
      matButton
      [disabled]="materialPath() === undefined || report.resolvedBy"
    >
      Ignore
      <mat-icon>check</mat-icon>
    </button>
  </mat-card-actions>

  @if (report.resolvedBy) {
    @if (report.actionTaken) {
      @let action = report.actionTaken;
      @let icon = auditService.ActionIcons[report.actionTaken];

      <div class="resolvedBy">
        <mat-icon [matTooltip]="action">{{ icon }}</mat-icon>
        {{ report.resolvedBy.login }}
      </div>
    } @else {
      <div class="resolvedBy">Resolved By {{ report.resolvedBy.login }}</div>
    }
  }
</mat-card-footer>
