@use '@angular/material' as mat;

html {
  color-scheme: light dark;
  $theme: mat.define-theme(
    (
      color: (
        primary: mat.$violet-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: (
        brand-family: Roboto,
        plain-family: Roboto,
      ),
      density: (
        scale: 0,
      ),
    )
  );

  @include mat.theme($theme);
  @include mat.typography-hierarchy($theme);
}

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

.flex {
  display: flex;
  flex-direction: column;
}
