input[type='file'] {
  display: none;
}
mat-dialog-content {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
}

.upload {
  justify-content: center;
  mat-card-content {
    height: 100%;
  }
}

label {
  display: flex;
  width: 100%;
  height: 100%;
}
mat-icon {
  margin: auto;
}

mat-card {
  white-space: nowrap;
  flex: 1;
  min-height: 100px;
  max-height: 100%;
  overflow: hidden;
  min-width: 40%;

  mat-card-header {
    margin-left: auto;
  }

  mat-card-content {
    position: relative;
    margin: auto 0;
    padding: 0;

    img {
      width: 100%;
    }

    mat-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 80%;
      max-height: 80%;
    }
  }

  mat-card-footer {
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

mat-card[loading='false'] {
  mat-spinner {
    display: none;
  }
}

mat-card[loading='true'] {
  img {
    opacity: 50%;
  }
  .copy {
    display: none;
  }
}
